Repository qbicsoftware/data-download-server, pull requests merged in 2025-02, with the labels that each got.

#35 Introduce path formatter
  measurement-provider/pom.xml
  measurement-provider/src/main/java/life/qbic/data_download/measurements/api/PathFormatter.java
  measurement-provider/src/test/groovy/life/qbic/data_download/measurement/api/PathFormatterSpec.groovy
  openbis-connector/pom.xml
  openbis-connector/src/main/java/life/qbic/data_download/openbis/DatasetFileStreamReaderImpl.java
  pom.xml
  rest-api/pom.xml
  zip/pom.xml
Labels: feature

#38 revert dependency bump
  pom.xml
Labels: fix

#39 Introduce path formatter (#35)
  measurement-provider/pom.xml
  measurement-provider/src/main/java/life/qbic/data_download/measurements/api/PathFormatter.java
  measurement-provider/src/test/groovy/life/qbic/data_download/measurement/api/PathFormatterSpec.groovy
  openbis-connector/src/main/java/life/qbic/data_download/openbis/DatasetFileStreamReaderImpl.java
Labels: release

#47 Fix empty files aborting download
  rest-api/src/main/java/life/qbic/data_download/rest/exceptions/GlobalExceptionHandler.java
  zip/src/main/java/life/qbic/data_download/util/zip/api/FileInfo.java
Labels: fix
